{% load static %}
<link rel="stylesheet" href="{% static 'Style/lab4_index.css' %}">
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Notes</title>
  </head>
  <body>
    <table>
      <tr>
        <th>To</th>
        <th>From</th>
        <th>Title</th>
        <th>Message</th>
      </tr>
      <!-- TODO loop from Friend model -->
      <!-- EXAMPLE SECTION -->
      {%for pesan in notes%}
      <tr>
        <td>{{pesan.message_to}}</td>
        <td>{{pesan.message_from}}</td>
        <td>{{pesan.message_title}}</td>
        <td>{{pesan.message}}</td>
      </tr>
      {% endfor %}
      <!-- END SECTION -->
    </table>
  </body>
</html>
