{% load static %}
<link rel="stylesheet" href="{% static 'Style/lab4_note_list.css' %}">
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
  </head>
  <body>
    <div class="card" style="width: 18rem;">
        {%for pesan_list in note_list%}
        <div class="card-body">
          <h5 class="card-title">Note</h5>
          <p>Title: {{pesan_list.message_title}}</p>
          <p>From: {{pesan_list.message_from}}</p>
          <p>To: {{pesan_list.message_to}}</p>
          <p>{{pesan_list.message}}</p>
        </div>
        {% endfor %}
      </div>
  </body>
</html>
