{% load static %}
<link rel="stylesheet" href="{% static 'Style/lab4_form.css' %}">
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Note Form</title>
  </head>
  <body>
    <div class="form-body">
      <form action="" method="POST">
        <div class="form-inside">
          {% csrf_token %}
          {{form.as_p}}
          <div class="form-input">
            <input type="submit" value="Submit">
          </div>
        </div>
      </form>
    </div>
  </body>
</html>
