.card{
    background-color: rgb(230, 217, 173);
    justify-content: center;
    }

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }

.card-body {
    padding: 2px 16px;
    margin-bottom: 10px;
    box-shadow: 0 2px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    background-color: rgb(173, 196, 230);
    }

.card-title {
    text-align: center;
    }
