<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Friend List</title>
  </head>
  <style>
    td,th {
    border: 1px solid rgb(190, 190, 190);
    padding: 10px;
  }
    td {
    text-align: center;
  }
  </style>
  <body>
    <table>
      <tr>
        <th>Name</th>
        <th>NPM</th>
        <th>DOB</th>
      </tr>
      {%for formteman in friends%}
      <tr>
        <td>{{formteman.name}}</td>
        <td>{{formteman.npm}}</td>
        <td>{{formteman.DOB}}</td>
      </tr>
      {% endfor %}
    </table>
  </body>
</html>
